/* NEED STRONG NAMING CONVENTION AND ORGANIZATION IF LARGE PROJECT SCOPE */

.button {
  background-color: black;
  font-family: Arial;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* EXTERNAL CSS STYLESHEET */